[Unit]
Description=websocket daemon %i
PartOf=websocket@.socket
After=network.target

[Service]
DynamicUser=yes
ExecStart=/root/oas3-python-wss/venv/bin/python /root/oas3-python-wss/main.py
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
