[Unit]
Description=websocket socket %i

[Socket]
RuntimeDirectory=websocket
ListenStream=/run/websocket/websocket%i.sock
SocketUser=www-data
SocketMode=0600

[Install]
WantedBy=sockets.target
